In [1]:
import pandas as pd
import seaborn as sns
import warnings
import os
import sys

warnings.filterwarnings("ignore", category=UserWarning)
warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
defunciones = pd.read_csv("../data/def_euskadi.csv", encoding='ISO-8859-1', skiprows=1)
defunciones

,grandes grupos CIE-10,mes,tramo edad cumplida,sexo,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,I. Ciertas enfermedades infecciosas y parasita...,Enero,0,Hombres,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,I. Ciertas enfermedades infecciosas y parasita...,Enero,0,Mujeres,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,I. Ciertas enfermedades infecciosas y parasita...,Enero,1 - 9,Hombres,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,I. Ciertas enfermedades infecciosas y parasita...,Enero,1 - 9,Mujeres,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,I. Ciertas enfermedades infecciosas y parasita...,Enero,10 - 19,Hombres,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5539,Covid-19 Probable,Diciembre,70 - 79,Mujeres,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5540,Covid-19 Probable,Diciembre,80 - 89,Hombres,0,0,0,0,0,0,0,0,0,0,2,0,0,0
5541,Covid-19 Probable,Diciembre,80 - 89,Mujeres,0,0,0,0,0,0,0,0,0,0,3,1,0,0
5542,Covid-19 Probable,Diciembre,>= 90,Hombres,0,0,0,0,0,0,0,0,0,0,3,0,1,0
5543,Covid-19 Probable,Diciembre,>= 90,Mujeres,0,0,0,0,0,0,0,0,0,0,1,1,0,0

In [3]:
defunciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5544 entries, 0 to 5543
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   grandes grupos CIE-10  5544 non-null   object
 1   mes                    5544 non-null   object
 2   tramo edad cumplida    5544 non-null   object
 3   sexo                   5544 non-null   object
 4   2010                   5544 non-null   int64
 5   2011                   5544 non-null   int64
 6   2012                   5544 non-null   int64
 7   2013                   5544 non-null   int64
 8   2014                   5544 non-null   int64
 9   2015                   5544 non-null   int64
 10  2016                   5544 non-null   int64
 11  2017                   5544 non-null   int64
 12  2018                   5544 non-null   int64
 13  2019                   5544 non-null   int64
 14  2020                   5544 non-null   int64
 15  2021                   5544 non-null   int64
 16  2022                   5544 non-null   int64
 17  2023                   5544 non-null   int64
dtypes: int64(14), object(4)
memory usage: 779.8+ KB

In [4]:
defunciones.describe()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
count,5544.000000,5544.000000,5544.000000,5544.000000,5544.000000,5544.000000,5544.000000,5544.000000,5544.000000,5544.000000,5544.000000,5544.000000,5544.000000,5544.000000
mean,3.491522,3.577201,3.658189,3.551948,3.635823,3.879690,3.828102,3.901876,3.922439,3.888889,4.373557,4.161797,4.363997,4.024351
std,12.365091,12.585188,12.872691,12.304755,12.610656,13.450457,13.172082,13.614209,13.466904,13.193255,14.351276,13.355503,13.521870,13.091276
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.250000,1.000000
max,153.000000,154.000000,153.000000,130.000000,143.000000,150.000000,144.000000,173.000000,147.000000,145.000000,213.000000,188.000000,159.000000,172.000000

In [5]:
defunciones.dtypes

grandes grupos CIE-10    object
mes                      object
tramo edad cumplida      object
sexo                     object
2010                      int64
2011                      int64
2012                      int64
2013                      int64
2014                      int64
2015                      int64
2016                      int64
2017                      int64
2018                      int64
2019                      int64
2020                      int64
2021                      int64
2022                      int64
2023                      int64
dtype: object

In [6]:
defunciones.isnull().sum

<bound method DataFrame.sum of       grandes grupos CIE-10    mes  tramo edad cumplida   sexo   2010   2011  \
0                     False  False                False  False  False  False
1                     False  False                False  False  False  False
2                     False  False                False  False  False  False
3                     False  False                False  False  False  False
4                     False  False                False  False  False  False
...                     ...    ...                  ...    ...    ...    ...
5539                  False  False                False  False  False  False
5540                  False  False                False  False  False  False
5541                  False  False                False  False  False  False
5542                  False  False                False  False  False  False
5543                  False  False                False  False  False  False

       2012   2013   2014   2015   2016   2017   2018   2019   2020   2021  \
0     False  False  False  False  False  False  False  False  False  False
1     False  False  False  False  False  False  False  False  False  False
2     False  False  False  False  False  False  False  False  False  False
3     False  False  False  False  False  False  False  False  False  False
4     False  False  False  False  False  False  False  False  False  False
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
5539  False  False  False  False  False  False  False  False  False  False
5540  False  False  False  False  False  False  False  False  False  False
5541  False  False  False  False  False  False  False  False  False  False
5542  False  False  False  False  False  False  False  False  False  False
5543  False  False  False  False  False  False  False  False  False  False

       2022   2023
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
...     ...    ...
5539  False  False
5540  False  False
5541  False  False
5542  False  False
5543  False  False

[5544 rows x 18 columns]>